[submodule "micropython"]
	path = lib/micropython
	url = https://github.com/micropython/micropython.git
[submodule "cmodules/lv_binding_micropython"]
	path = cmodules/lv_binding_micropython
	url = https://github.com/lvgl/lv_binding_micropython.git
